<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h2>Page 2</h2>

    <ul>
      <li>Item 4</li>
      <li>Item 5</li>
      <li>Item 6</li>
    </ul>

    <button hx-get="index1.html" hx-target="#results" hx-swap="innerHTML">
      ← Prev
    </button>

    <button hx-get="index3.html" hx-target="#results" hx-swap="innerHTML">
      Next →
    </button>
  </body>
</html>
